In [2]:
import pandas as pd

In [3]:
# Leer el archivo CSV de municipios y total de poblacion madrid y convertirlo en un DataFrame
df_pob_municipios_madrid = pd.read_csv('../data/raw/pob_municipios_madrid.csv',encoding='latin-1', sep=';')
df_pob_municipios_madrid.info()

#limpieza del data frame y organizacion de datos
df_pob_municipios_madrid['Municipios'] = df_pob_municipios_madrid['Municipios'].str.replace(r'\d+', '')
df_pob_municipios_madrid['Provincia'] = 'Madrid'
df_pob_municipios_madrid['comunidad_autonoma'] = 'Comunidad de Madrid'
df_pob_municipios_madrid

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Municipios  1440 non-null   object
 1   Sexo        1440 non-null   object
 2   Periodo     1440 non-null   int64
 3   Total       1440 non-null   object
dtypes: int64(1), object(3)
memory usage: 45.1+ KB

c:\Users\HP\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

      Municipios   Sexo  Periodo      Total Provincia   comunidad_autonoma
0         Madrid  Total     2022  6.750.336    Madrid  Comunidad de Madrid
1         Madrid  Total     2021  6.751.251    Madrid  Comunidad de Madrid
2         Madrid  Total     2020  6.779.888    Madrid  Comunidad de Madrid
3         Madrid  Total     2019  6.663.394    Madrid  Comunidad de Madrid
4         Madrid  Total     2018  6.578.079    Madrid  Comunidad de Madrid
...          ...    ...      ...        ...       ...                  ...
1435   Zarzalejo  Total     2019      1.658    Madrid  Comunidad de Madrid
1436   Zarzalejo  Total     2018      1.620    Madrid  Comunidad de Madrid
1437   Zarzalejo  Total     2017      1.596    Madrid  Comunidad de Madrid
1438   Zarzalejo  Total     2016      1.565    Madrid  Comunidad de Madrid
1439   Zarzalejo  Total     2015      1.546    Madrid  Comunidad de Madrid

[1440 rows x 6 columns]

In [7]:
# Leer el archivo CSV de municipios y total de poblacion tarragona y convertirlo en un DataFrame
df_pob_municipios_tarragona = pd.read_csv('../data/raw/pob_municipios_tarragona.csv',encoding='latin-1', sep=';')
df_pob_municipios_tarragona.info()

#limpieza del data frame y organizacion de datos
df_pob_municipios_tarragona['Municipios'] = df_pob_municipios_tarragona['Municipios'].str.replace(r'\d+', '')
df_pob_municipios_tarragona['Provincia'] = 'Tarragona'
df_pob_municipios_tarragona['comunidad_autonoma'] = 'Cataluña'
df_pob_municipios_tarragona

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1480 entries, 0 to 1479
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Municipios  1480 non-null   object
 1   Sexo        1480 non-null   object
 2   Periodo     1480 non-null   int64
 3   Total       1480 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 46.4+ KB

c:\Users\HP\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

      Municipios   Sexo  Periodo    Total  Provincia comunidad_autonoma
0      Tarragona  Total     2022  830.075  Tarragona           Cataluña
1      Tarragona  Total     2021  822.309  Tarragona           Cataluña
2      Tarragona  Total     2020  816.772  Tarragona           Cataluña
3      Tarragona  Total     2019  804.664  Tarragona           Cataluña
4      Tarragona  Total     2018  795.902  Tarragona           Cataluña
...          ...    ...      ...      ...        ...                ...
1475       Xerta  Total     2019    1.170  Tarragona           Cataluña
1476       Xerta  Total     2018    1.170  Tarragona           Cataluña
1477       Xerta  Total     2017    1.188  Tarragona           Cataluña
1478       Xerta  Total     2016    1.190  Tarragona           Cataluña
1479       Xerta  Total     2015    1.209  Tarragona           Cataluña

[1480 rows x 6 columns]

In [8]:
# Leer el archivo CSV de municipios y total de poblacion lleida y convertirlo en un DataFrame
df_pob_municipios_lleida = pd.read_csv('../data/raw/pob_municipios_lleida.csv',encoding='latin-1', sep=';')
df_pob_municipios_lleida.info()

#limpieza del data frame y organizacion de datos
df_pob_municipios_lleida['Municipios'] = df_pob_municipios_lleida['Municipios'].str.replace(r'\d+', '')
df_pob_municipios_lleida['Provincia'] = 'Lleida'
df_pob_municipios_lleida['comunidad_autonoma'] = 'Cataluña'
df_pob_municipios_lleida

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1856 entries, 0 to 1855
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Municipios  1856 non-null   object
 1   Sexo        1856 non-null   object
 2   Periodo     1856 non-null   int64
 3   Total       1856 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 58.1+ KB

c:\Users\HP\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

     Municipios   Sexo  Periodo    Total Provincia comunidad_autonoma
0        Lleida  Total     2022  441.443    Lleida           Cataluña
1        Lleida  Total     2021  439.727    Lleida           Cataluña
2        Lleida  Total     2020  438.517    Lleida           Cataluña
3        Lleida  Total     2019  434.930    Lleida           Cataluña
4        Lleida  Total     2018  432.866    Lleida           Cataluña
...         ...    ...      ...      ...       ...                ...
1851    Vinaixa  Total     2019  470.000    Lleida           Cataluña
1852    Vinaixa  Total     2018  482.000    Lleida           Cataluña
1853    Vinaixa  Total     2017  483.000    Lleida           Cataluña
1854    Vinaixa  Total     2016  499.000    Lleida           Cataluña
1855    Vinaixa  Total     2015  526.000    Lleida           Cataluña

[1856 rows x 6 columns]

In [11]:
# Leer el archivo CSV de municipios y total de poblacion girona y convertirlo en un DataFrame
df_pob_municipios_girona = pd.read_csv('../data/raw/pob_municipios_girona.csv',encoding='latin-1', sep=';')
df_pob_municipios_girona.info()

#limpieza del data frame y organizacion de datos
df_pob_municipios_girona['Municipios'] = df_pob_municipios_girona['Municipios'].str.replace(r'\d+', '')
df_pob_municipios_girona['Provincia'] = 'Girona'
df_pob_municipios_girona['comunidad_autonoma'] = 'Cataluña'
df_pob_municipios_girona

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1776 entries, 0 to 1775
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Municipios  1776 non-null   object
 1   Sexo        1776 non-null   object
 2   Periodo     1776 non-null   int64
 3   Total       1776 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 55.6+ KB

c:\Users\HP\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

     Municipios   Sexo  Periodo    Total Provincia comunidad_autonoma
0        Girona  Total     2022  793.478    Girona           Cataluña
1        Girona  Total     2021  786.596    Girona           Cataluña
2        Girona  Total     2020  781.788    Girona           Cataluña
3        Girona  Total     2019  771.044    Girona           Cataluña
4        Girona  Total     2018  761.947    Girona           Cataluña
...         ...    ...      ...      ...       ...                ...
1771   Vilopriu  Total     2019  202.000    Girona           Cataluña
1772   Vilopriu  Total     2018  205.000    Girona           Cataluña
1773   Vilopriu  Total     2017  207.000    Girona           Cataluña
1774   Vilopriu  Total     2016  201.000    Girona           Cataluña
1775   Vilopriu  Total     2015  199.000    Girona           Cataluña

[1776 rows x 6 columns]

In [10]:
# Leer el archivo CSV de municipios y total de poblacion barcelona y convertirlo en un DataFrame
df_pob_municipios_barcelona = pd.read_csv('../data/raw/pob_municipios_barcelona.csv',encoding='latin-1', sep=';')
df_pob_municipios_barcelona.info()

#limpieza del data frame y organizacion de datos
df_pob_municipios_barcelona['Municipios'] = df_pob_municipios_barcelona['Municipios'].str.replace(r'\d+', '')
df_pob_municipios_barcelona['Provincia'] = 'Barcelona'
df_pob_municipios_barcelona['comunidad_autonoma'] = 'Cataluña'
df_pob_municipios_barcelona

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2496 entries, 0 to 2495
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Municipios  2496 non-null   object
 1   Sexo        2496 non-null   object
 2   Periodo     2496 non-null   int64
 3   Total       2496 non-null   object
dtypes: int64(1), object(3)
memory usage: 78.1+ KB

c:\Users\HP\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

,Municipios,Sexo,Periodo,Total,Provincia,comunidad_autonoma
0,Barcelona,Total,2022,5.727.615,Barcelona,Cataluña
1,Barcelona,Total,2021,5.714.730,Barcelona,Cataluña
2,Barcelona,Total,2020,5.743.402,Barcelona,Cataluña
3,Barcelona,Total,2019,5.664.579,Barcelona,Cataluña
4,Barcelona,Total,2018,5.609.350,Barcelona,Cataluña
...,...,...,...,...,...,...
2491,Viver i Serrateix,Total,2019,168,Barcelona,Cataluña
2492,Viver i Serrateix,Total,2018,164,Barcelona,Cataluña
2493,Viver i Serrateix,Total,2017,173,Barcelona,Cataluña
2494,Viver i Serrateix,Total,2016,162,Barcelona,Cataluña
2495,Viver i Serrateix,Total,2015,168,Barcelona,Cataluña

In [16]:
df_pob_municipios = pd.concat([df_pob_municipios_barcelona,df_pob_municipios_girona,df_pob_municipios_lleida,
df_pob_municipios_tarragona, df_pob_municipios_madrid ])
df_pob_municipios.drop('Sexo' , axis=1)

      Municipios  Periodo      Total  Provincia comunidad_autonoma
0      Barcelona     2022  5.727.615  Barcelona           Cataluña
1      Barcelona     2021  5.714.730  Barcelona           Cataluña
2      Barcelona     2020  5.743.402  Barcelona           Cataluña
3      Barcelona     2019  5.664.579  Barcelona           Cataluña
4      Barcelona     2018  5.609.350  Barcelona           Cataluña
...          ...      ...        ...        ...                ...
1435   Zarzalejo     2019      1.658     Lleida           Cataluña
1436   Zarzalejo     2018      1.620     Lleida           Cataluña
1437   Zarzalejo     2017      1.596     Lleida           Cataluña
1438   Zarzalejo     2016      1.565     Lleida           Cataluña
1439   Zarzalejo     2015      1.546     Lleida           Cataluña

[9048 rows x 5 columns]